# Ignore package directories
node_modules

# Vagrant & Docker
.cache
.docker
.vagrant

# Shell
.bash_history
.DS_Store

# Don/t store credentials
.env

# Configuration files
/api/app/config/api-config.js
/api/app/config/db-config.js

# IDE Specific Ignores
.viminfo

# Log Files
npm-debug.log
